<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracc</title>
</head>
<body>
    <div id="app">
        <span>Form submitted</span>
        <form action="{% url 'index'%}">
            <input type="submit" value="return to the main page">
        </form>
    </div>
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['<%', '%>'],
            data: {
                
            },
            methods: {
    
            }
        })
    </script>
</body>
</html>